
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

@await Component.InvokeAsync("_DefaultHead")

<body>

    @await Component.InvokeAsync("_DefaultHeader")
    <!-- header-area-end -->
    <!-- main-area -->
    <main>

        <!-- slider-area -->
        @await Component.InvokeAsync("_DefaultSlider")
        <!-- slider-area-end -->
        <!-- booking-area -->
        @await Component.InvokeAsync("_DefaultBookingArea")
        <!-- booking-area-end -->
        <!-- features-area -->
        @await Component.InvokeAsync("_DefaultFeatureArea")
        <!-- features-area-end -->
        <!-- flight-offer-area -->
        @await Component.InvokeAsync("_DefaultOfferDeal")

        @await Component.InvokeAsync("_DefaultDestinationOffer");

        <!-- flight-offer-area-end -->
        @await Component.InvokeAsync("_DefaultPopularDestination");
        <!-- service-area -->
        @await Component.InvokeAsync("_DefaultService");
        <!-- service-area-end -->
        <!-- brand-area -->
        @await Component.InvokeAsync("_DefaultFlightStatus");
        <!-- brand-area-end -->
        @await Component.InvokeAsync("_DefaultFrequantlyAskedQuestion");

    </main>
    <!-- main-area-end -->
    <!-- footer-area -->
    @await Component.InvokeAsync("_DefaultFooter");
    <!-- footer-area-end -->
    <!-- JS here -->
        @await Component.InvokeAsync("_DefaultScripts");
</body>
</html>

